.header {
    display: flex;
    padding-top: 20px;
    /* align-items: center; */
}

.header .logo {
    width: 25%;
}

.header .nav-area {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a {
    display: inline-block;
}

.header a button {
    padding: 14px 32px;
    background-color: #ef476f;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border: none;
    border-radius: 3px;
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 15px;
}

.header nav ul li a:link {
    color: #888888;
    text-decoration: none;
}

.header nav ul li a:visited {
    color: #888888;
}

.header nav ul li a:hover {
    color: #ef476f;
}

.header nav ul li a:active {
    color: #ef476f;
}