/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  ul {
    padding: 0;
  }

  button {
    padding: 0;
    border: 0;
  }