.case-box-wrapper {
  display: flex;
  column-gap: 28px;
}

.case-box-wrapper .case-box {
  width: 33.33%;
  text-align: center;
  position: relative;
}

.case-box-wrapper .case-box .case-box-hover {
  background-image: linear-gradient(
    to top,
    rgba(68, 129, 235, 0.75),
    rgba(4, 190, 254, 0.75)
  );
  padding: 130px 110px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  display: none;
  transition: 0.3s;
  border-radius: 3px;
}

.case-box-wrapper .case-box:hover .case-box-hover {
  display: block;
}

.case-box-wrapper .case-box img {
  width: 100%;
}

.case-box-wrapper .case-box .case-box-hover button {
  opacity: 1;
  padding: 18px 15px;
  background-color: white;
  color: #373737;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.case-title-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  text-align: center;
}

.case-title-wrapper .case-title h2 {
  font-size: 18px;
  color: #373737;
  font-weight: normal;
}

.case-title-wrapper .case-title p {
  font-size: 14px;
  color: #999999;
  font-weight: 300;
}
