.cfa-wrapper {
  position: relative;
  background-image: url("../../images/index02/cfa.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 67px;
  padding-bottom: 67px;
  text-align: center;
  margin-bottom: 103px;
}

.cfa-wrapper .cfa h2 {
  font-size: 28px;
  color: white;
  font-weight: normal;
  padding-bottom: 30px;
}

.cfa-wrapper .cfa button {
  background-color: white;
  color: #333333;
  font-size: 14px;
}
