@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap");
@import "reset.css";
@import "header.css";
@import "hero.css";
@import "about-us.css";
@import "filler.css";
@import "services.css";
@import "testimonial.css";

body {
  font-family: "Khula", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
