.testimonial-wrapper {
  background-color: #fbfbfb;
  padding-top: 78px;
  padding-bottom: 78px;
  /* display: flex;
  justify-content: center; */
}

.testimonial {
  width: 66.67%;
  text-align: center;
  margin: 0 auto;
}

.testimonial h3 {
  font-size: 18px;
  color: #373737;
  line-height: 1.8;
  font-weight: normal;
  margin-top: 40px;
}

.testimonial h4 {
  margin-top: 35px;
  font-size: 18px;
  color: #373737;
  font-weight: normal;
}

.testimonial p {
  font-size: 14px;
  color: #999999;
  font-weight: 300;
}
