.hero {
    display: flex;
    padding: 180px 0;
    justify-content: space-between;
    align-items: center;
}

.hero .hero-left {
    width: 50%;
}

.hero .hero-right {
    width: 41.66%;
    display: flex;
    justify-content: end;
}

.hero .hero-left h1 {
    color: #373737;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.125;
    margin-bottom: 15px;
}

.hero .hero-left p {
    color: #999999;
    font-size: 15px;
    margin-bottom: 25px;
}

.hero .hero-left form {
    display: flex;
}

.hero .hero-left form input {
    border: 1px solid;
    border-radius: 3px;
    border-color: #efefef;
    background-color: white;
    color: #999999;
    font-weight: 300;
    padding: 16px 20px;
    font-size: 15px;
    width: 295px;
    margin-right: 20px;
    outline: none;
}

.hero .hero-left form button {
    color: white;
    font-size: 14px;
    padding: 16px 20px;
    border-radius: 3px;
    background-color: #ef476f;
    cursor: pointer;
}

.horizontal-line {
    border: 1px solid #f6f6f6;
}