* {

}

.sec-title-desc {
    text-align: center;
    width: 50%;
    margin: 100px auto;
}

.sec-title-desc h2 {
    font-size: 28px;
    color: #373737;
    margin-bottom: 10px;
    font-weight: normal;
}

.sec-title-desc p {
    font-size: 15px;
    color: #999999;
}