.service-item-wrapper {
    display: flex;
    column-gap: 30px;
    row-gap: 48px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-item-wrapper .service-item {
    width: 31%;
    padding: 30px 20px;
    border: 1px solid #f3f3f3;
    border-radius: 3px;
}

.service-item-wrapper .service-item i {
    /* color: normal; */
    font-size: 34px;
}

.service-item-wrapper .service-item h3 {
    margin-top: 20px;
    color: #373737;
    font-size: 20px;
    font-weight: normal;
}

.service-item-wrapper .service-item p {
    margin-top: 20px;
    color: #999999;
    font-size: 15px;
    line-height: 1.73;
    margin-bottom: 20px;
    font-weight: 300;
}

.service-item-wrapper .service-item a {
    text-decoration: none;
    color: #373737;
    font-size: 15px;
}

.service-item-wrapper .service-item:hover {
    border-color: #ef476f;
}

.service-item-wrapper .service-item:hover i,
.service-item-wrapper .service-item:hover h3,
.service-item-wrapper .service-item:hover a {
    color: #ef476f;
}

.service-item-wrapper .service-item a i {
    margin-left: 5px;
    font-size: 14px;
}